*.txt
env/*
virtual/*
migrations/__pycache__/*
migrations/versions/__pycache__/*
alembic/*
.idea/*
.env
log/*
logger/*
__pycache__/*
src/project/__pycache__/*
errorFile.log
src/__pycache__/*
src/auth/__pycache__/*
src/aws/__pycache__/*
tests/__pycache__/*
my_env/*
venv/*
cronlogFile.log
src/auth/dependencies.py
dependencies.py
cron_logs/*
current_cron_logs/*